# Server Runtime
PORT=5001
NODE_ENV=production

# Database (Connected via Docker internal network to postgres service)
DATABASE_URL=postgresql://postgres:postgres_prod_password@postgres:5432/ticketing_prod?schema=public

# Redis Cache & Queue (Connected via Docker internal network to redis service)
REDIS_HOST=redis
REDIS_PORT=6379
TICKET_HOLD_DURATION_MS=600000

# Production JWT Cryptographic Secrets (Min 32 characters)
JWT_ACCESS_SECRET=prod_access_secret_735dd8f9debb568886369b1d566a0d10a61b06f8e0e51a7862551c74d474471b
JWT_REFRESH_SECRET=prod_refresh_secret_994a2b1c8f3e5d7a6b0c2e4f8a1d3c5b7e9f0a2b4c6d8e0f2a4b6c8d0e2f4a6
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
