# Server Configuration
PORT=5001
NODE_ENV=development

# PostgreSQL Database Connection (Prisma)
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/postgres?schema=public"

# Redis Cache & Queue Connection
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Secrets 
JWT_ACCESS_SECRET=your_super_secret_access_key_change_me
JWT_REFRESH_SECRET=your_super_secret_refresh_key_change_me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
